.project-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.project-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem; /* Add spacing between cards */
}

.project-card {
  max-width: 445px;
  flex: 1 1 300px; /* Adjust the flex basis as needed for responsiveness */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .project-box {
    padding: 1rem;
  }

  .project-card {
    max-width: 100%;
    flex: 1 1 100%;
  }
}
